@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@font-face {
  font-family: 'Sen';
  src: url('../fonts/Sen-ExtraBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Sen-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Sen-ExtraBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Sen-ExtraBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Sen-ExtraBold.svg#Sen-ExtraBold') format('svg'); /* Legacy iOS */
}

html, body {
    background-color: #ecf0f1;
}

h1, h2, h3, h4, h5, p, a, li {
    font-family: 'Sen', sans-serif;
    color: #666;
}

a {
    color: #666;
    text-decoration: none;
    -webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

a:hover,
a:focus,
a:active {
    color: #e74c3c;
}

#intro, #resume {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.profile {
    width: 30%;
    margin-top: 10px;
    margin-bottom: 15px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    border: #666 8px solid;
}

@media screen and (max-width: 39.9375em) {
    #resume .sidebar {
        margin-bottom: 20px;
    }

    .profile {
        margin-top: 0;
        width: 50%;
    }
}

#intro .name {
    border-top: none;
    margin-bottom: 0;
    margin-top: 0;
    letter-spacing: 2px;
    font-size: 3rem;
}

#intro .info div {
    margin-top: 30px;
}

#intro .info p {
    font-size: 20px;
    margin: 10px;
}

#intro .info .button {
    display: inline-block;
    vertical-align: middle;
    padding: 0.85em 1em;
    margin: 50px 0 1rem 0;
    font-size: 1rem;
    background: #666;
    color: #FFF;
}

#intro .info .button:hover,
#intro .info .button:focus,
#intro .info .button:active {
    background: #e74c3c;
}

#intro .info h3 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 15px;
}

#resume .sidebar {
    width: 100%;
}

#resume .sidebar .profile {
    width: 50%;
}

#resume .sidebar .name {
    line-height: initial;
    /*border-bottom: #666 2px solid;*/
}

#resume .sidebar .profile-info {
    margin-top: 10px;
    margin-bottom: 15px;
}

#resume .sidebar .profile-info p {
    margin-bottom: 6px;
}

#resume .sidebar .profile-info i[class^="icon-"],
#resume .sidebar .profile-info i[class*=" icon-"] {
    margin-right: 3px;
}

#resume .section {
    margin: auto;
}

#resume .section:not(:first-child) {
    margin-top: 20px;
}

#resume .section h5 {
    font-size: 1.15rem;
}

#resume .section h5 .position {
    color: #888;
}

#resume .section .item {
    margin-top: 10px;
}

#resume .section-header {
    padding-left: 10px;
    color: #e74c3c;
    background-color: #DDD;
}

#resume .language {
    margin-bottom: 2px;
}

#resume .language-progress-meter {
    background-color: #588B8B;
}

#resume li,
#resume p,
#resume :not(h5) > a {
    font-family: 'Open Sans', sans-serif;
}

#resume .content a {
    border-bottom: 1px dotted #888;
}

#resume .content a:hover,
#resume .content a:focus,
#resume .content a:active {
    color: #e74c3c;
    border-bottom: 1px dotted #ecf0f1;;
}

#resume .content h5 a {
    padding-bottom: 1px;
}

#resume .content p {
    margin-bottom: 12px;
}
