@import url(http://fonts.googleapis.com/css?family=Alfa+Slab+One);

html, body, section {
    height: 100%;
    width: 100%;
}

body {
    background: url('https://download.unsplash.com/photo-1417436026361-a033044d901f') no-repeat center center fixed;
    background-size: cover;
}

h1 {
    font-family: 'Sen', sans-serif;
}

h1.name {
    font-size: 18vw;
    margin-bottom: 10px;
    color: #EDF5FE;
    opacity: 0.7;
    line-height: inherit;
    padding-left: 1vw;
}

.name small {
    font-size: 50%;
    color: inherit;
    opacity: 0.8;
    display: block;
    margin-top: -5vw;
    margin-left: 6vw;
}

@media (min-width: 450px) {
    h1.name {
        margin-bottom: 0;
        font-size: 12vw;
    }

    .name small {
        margin-top: 0;
        margin-left: 0;
        display: inline;
    }
}

h2.slogan {
    font-family: 'Sen', sans-serif;
    margin-top: 0;
    color: #EDF5FE;
    opacity: 0.7;
}

.slogan span {
    font-size: 5vw;
    display: block;
}

@media (min-width: 768px) {
    .slogan span {
        font-size: 3.5vw;
        display: inline;
    }
}

.slide {
    height: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: rgba(44, 102, 110, 0.5);
}

.page-header {
    border-bottom: none;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 47%;
    color: #EDF5FE;
    opacity: 0.7;
}

.footer i {
    font-size: 7vw;
}

@media (min-width: 450px) {
    .footer i {
        font-size: 4vw;
    }
}

.brands a {
    padding-top: 5px;
    font-size: 7vw;
    color: #EDF5FE;
    opacity: 0.7;
}

.brands a:hover,
.brands a:focus,
.brands a:active {
    opacity: 1;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

@media (min-width: 450px) {
    .brands a {
        font-size: 3vw;
    }
}

.brands a {
    padding-right: 7px;
    padding-left: 7px;
}

.brands a .fa-medium {
    font-size: 88%;
}

.brands a .fa-linkedin {
    font-size: 96%;
}

.brands a .fa-envelope {
    font-size: 91%;
}
