body{
	margin: 30px;
	margin-bottom: 50px;
	background-color: #f7f5fa;
}

hr {
	border: none;
	border-bottom: 1px solid #aaa;
	margin: 2em;
}

.avatar {
	display:block;
	margin: 0 auto;
	width: 125px;
	height: 125px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	background: url(http://www.gravatar.com/avatar/9b283a116db0be014bb30ae38b05bafb?s=200);
	background-size: cover;
	border: 3px solid #049cdb;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.avatar img {
	border-radius: 100%;
	width: 100%;
	height: auto;
	opacity: 0;
	filter: alpha(opacity=0);
}

.emph {
	color:#049cdb
}

.lead {
	font-size: 16px;
}

.divider {
	border: none;
	border-bottom: 1px solid #049cdb;
	margin: 2em 0;
}

.social {
	text-decoration: none;
	color: #049cdb;
}

/************
Sidebar stuff
*************/
#profile {
	margin-bottom: 15px;
	text-align: center;
}

.social {
	padding: 5px;
}

#sidebar ul.nav > li.active > a {
	background-color: #049cdb;
}

/*Disable affixed*/
#sidebar.affix {
	position: static;
}


@media screen and (min-width: 992px) {
	/*Enable affixed*/
  	#sidebar.affix {
  		width: 285px;
		position: fixed;
		top: 40px;
	}
}

@media screen and (max-width: 768px) {
	.container {
		padding-left: 0px;
		padding-right: 0px;
	}

	.col-xs-offset-2 {
		margin-left: 16.666666666666664%;
	}

	#profile {
		font-size: 90%;
	}	

	#profile .social {
		font-size: 90%;
	}
}
